* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 1rem;
  }
  body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    overflow-x: hidden;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  a {
    text-decoration: none !important;
  }


  /******************************************
                Header - Navbar
  ******************************************/
  #header .navbar .navbar-nav .nav-link {
    font: normal normal 600 15px/14px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0.5rem;
  }
  #header .navbar .navbar-nav .icon-market img {
    max-width: 20px;
    margin-top: 10px;
  }
  #header .navbar .navbar-nav .icon-market-search img {
    max-width: 18px;
    margin-top: 12px;
  }
  #header.sticky-top {
    position: sticky;
    position: --webkit-sticky;
    top: 0;
    background: #ffffff;
    border-bottom: 1px solid #f1f1f1;
  }

  

  /*****************************************
            Search BAr
  *****************************************/
  
  .overlay {
    height: 30%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 4.5rem;
    left: 0;
    transition: 0.5s !important;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255);
  }
  
  .overlay-content {
    position: relative;
    top: 26%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
  }
  .overlay-content a .icon-search {
    position: absolute;
    top: 20px;
    right: 30px;
    color: #000000;
  }
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: #000000;
  }
  
  .overlay .closebtn:hover {
    color: #000000;
  }
  
  .overlay input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: 1px solid #5D5D5D;
    border-radius: 30px;
    float: left;
    width: 100%;
    background: white;
  }
  
  .overlay input[type=text]:hover {
    background: #f1f1f1;
  }
  
  .overlay button:hover {
    background: #bbb;
  }


/*****************************************
            Panier BAr
  *****************************************/
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  .sidenav h3{
    position: absolute;
    top: 15px;
    left: 15px;
    font: normal normal 600 22px/42px Poppins;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  /******************************************
                Banner
  ******************************************/
  #banner .carousel-inner{
    position: relative;
    background-size: cover;
    z-index: 999;
  }
  #banner .carousel-inner span {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font: normal normal 600 15px/22px Poppins;
    padding: 3rem 5rem;
    margin: 0 auto;
    letter-spacing: 0px;
    color: #5D5D5D;
    z-index: 999;
  }
  #banner .carousel-inner h1 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font: normal normal 600 54px/14px Poppins;
    padding: 6rem 5rem;
    margin: 0 auto;
    letter-spacing: 0px;
    color: #5D5D5D;
    z-index: 999;
  }
  #banner .carousel-inner .btn-slide {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font: normal normal 600 15px/22px Poppins;
    margin: 0rem 5rem;
    color: #5D5D5D;
    border: 2px solid #989898;
    border-radius: 21px;
    bottom: 80px;
    z-index: 999;
  }


  /******************************************
                Features
  ******************************************/
  
  #features .feature-img, 
  #features-two .feature-img {
    position: relative;
  }
  #features .feature-content, 
  #features-two .feature-content {
    position: absolute;
    top: 0;
    left: 28px;
    margin-top: 3rem;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    z-index: 3;
  }
  #features .feature-content h3 {
    font: normal normal 600 54px/14px Poppins;
    letter-spacing: 0px;
    color: #5D5D5D;
  }
  #features .feature-content span {
    margin-bottom: 2rem;
    font: normal normal 600 15px/22px Poppins;
    letter-spacing: 0px;
    color: #5D5D5D;
  }
  #features .feature-content .btn-more {
    margin-top: 25rem;
    font: normal normal 600 15px/22px Poppins;
    color: #5D5D5D;
    border: 1px solid #989898;
    border-radius: 21px;
  }


  /******************************************
                Features - Inner
  ******************************************/
  #feature-inner .feature-img {
    position: relative;
  }
  #feature-inner .feature-content {
    position: absolute;
    top: 0;
    left: 28px;
    margin-top: 3rem;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    z-index: 3;
  }
  #feature-inner .feature-content h3 {
    font: normal normal 600 54px/14px Poppins;
    letter-spacing: 0px;
    color: #5D5D5D;
  }
  #feature-inner .feature-content span {
    margin-bottom: 2rem;
    font: normal normal 600 15px/22px Poppins;
    letter-spacing: 0px;
    color: #5D5D5D;
  }
  #feature-inner .feature-content .btn-more {
    margin-top: 20rem;
    font: normal normal 600 15px/22px Poppins;
    color: #5D5D5D;
    border: 1px solid #989898;
    border-radius: 21px;
  }


  /******************************************
                Features - Two
  ******************************************/
  #features-two .feature-content h3 {
    font: normal normal 600 54px/14px Poppins;
    line-height: 1;
    letter-spacing: 0px;
    color: #5D5D5D;
  }
  #features-two .feature-content span{
    margin-bottom: 2rem;
    font: normal normal 600 15px/22px Poppins;
    letter-spacing: 0px;
    color: #5D5D5D;
  }
  #features-two .feature-content .btn-more {
    margin-top: 15rem;
    font: normal normal 600 15px/22px Poppins;
    color: #5D5D5D;
    border: 1px solid #989898;
    border-radius: 21px;
  }
  #features-two .feature-img-agenda {
    position: relative;
  }
  #features-two .feature-img-agenda::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #FFF45A 0% 0% no-repeat padding-box;
    z-index: 1;
  }


/*********************************
        Page Catalogue
*********************************/
#catalogue-title h1 {
  font: normal normal 600 54px/14px Poppins;
  color: #000000;
}
#catalogue-title .btn-filter {
  margin-top: 3rem;
  border: 2px solid #C6C6C6;
  border-radius: 18px;
}
.catalog-content{
  width: 516px !important;
}
/*********************************
      Catalogue
*********************************/
#catalog {
  margin-bottom: 4rem;
}
#catalog .catalog-img {
  position: relative;
  display: block;
}

#catalog h3{
  position: absolute;
  top: 0;
  left: 28px;
  margin-top: 3rem;
  display: flex;
  line-height: 1 !important;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
  font: normal normal 600 54px/14px Poppins;
  color: #5D5D5D;
  z-index: 3;
}
#catalog .catalog-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#catalog .catalog-content ul {
  position: absolute;
  list-style: none;
  padding: 0;
  left: 28px;
  bottom: 30px;
}
#catalog .catalog-content ul li a {
  font: normal normal normal 17px/19px Poppins;
  margin-bottom: 0.5rem;
  color: #ffffff;
}
#catalog .catalog-content .arrow-shop {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 45px;
  right: 36px;
  background: transparent;
  width: 50px;
  height: 50px;
  border: 2px solid #5D5D5D;
  border-radius: 50%;
}
#catalog .catalog-content .arrow-shop img  {
  max-width: 100%;
  width: 20px;
  max-height: 100px;
}


/*********************************
      Assises
*********************************/
#assises {
  margin-bottom: 2rem;
}
#assises .asises-img {
  position: relative;
}
#assises .assises-content {
  position: absolute;
  top: 0;
  left: 28px;
  margin-top: 3rem;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
  z-index: 3;
}
#assises .assises-content h3 {
  font: normal normal 600 32px/34px Poppins;
  color: #000000;
  line-height: 1 !important;
}
#assises .assises-content .arrow-shop {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 16rem;
  background: transparent;
  width: 50px;
  height: 50px;
  border: 2px solid #5D5D5D;
  border-radius: 50%;
}
#assises .assises-content .arrow-shop img  {
  max-width: 100%;
  width: 20px;
  max-height: 100px;
}
#assises .owl-nav { display: block !important; }

#assises .owl-theme .owl-nav .owl-prev span,
#assises .owl-theme .owl-nav .owl-next span {
  font-size: 2.5rem !important;
}
#assises .owl-theme .owl-nav [class*=owl-] {
  background: #D1D1D1 !important;
  padding: 0 !important;
  width: 40px !important;
  height: 40px !important;
  line-height: 20px !important;
  border-radius: 0px  !important;
}
#assises .owl-theme .owl-nav [class*=owl-]:hover{
  background: #D1D1D1 !important;
  color: #000000 !important;
}
#assises .owl-theme .owl-nav {
  margin-top: 30px !important;
  text-align: left !important;
}




/*****************SINGLE PRODUCT***************/

#single-product .product-bagde span {
  color: #fff;
  background: #000;
  padding: 0.2rem 0.7rem;
  border-radius: 15px;
}
#single-product .link img, 
#single-product .cube img {
  max-width: 100%;
  width: 20px;
  max-height: 100%;
}
#single-product .image img {
  max-width: 100%;
  width: 10px;
  max-height: 100%;
  align-items: center;
}
#single-product .link, 
#single-product .cube,
#single-product .image {
  position: relative;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 35px;
  height: 35px;
  margin-top: 0.5rem;
  border: 1px solid #5D5D5D;
  border-radius: 50%;
}
#single-product .image-list img, 
#single-product .img-first {
  border-radius: 14px;
}
#single-product .image-list img {
  opacity: .6;
  transition: all 0.5s ease-in-out;
}
#single-product .image-list img:hover {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
#single-product .wrap-info .price {
  position: relative;
  margin-top: 2rem;
}
#single-product .wrap-info .price .form-select {
  position: relative;
  border: none;
  width: 130px;
  font: normal normal normal 12px/22px Poppins;
  background: #FFECB7;
  border-radius: 18px;
}
#single-product .wrap-info .price .form-select:focus {
  outline: 0;
  box-shadow: none;
}
#single-product .wrap-info .price .list-down {
  position: absolute;
  bottom: 10px;
  left: 100px;
  z-index: 999;
}
#single-product .wrap-info .link-price {
  width: 110px;
  height: 40px;
  line-height: 24px;
  border: 1px solid #000000;
  border-radius: 21px;  
  margin-top: 1rem;
}
#single-product .filtre {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
#single-product .filtre .arrow img {
  background: transparent;
  width: 30px;
  height: 30px;
  padding: 2px 3px 0;
  border: 2px solid #000000;
  border-radius: 50%;
  text-align: center;
  align-items: center;
}

#single-product .filtre .btn-filter {
  border: 1px solid #C6C6C6;
  border-radius: 18px;
}
#single-product .more ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#single-product .right.color ul {
  list-style: none;
  padding: 0;
}
#single-product .right.color ul li {
  display: inline-block;
  margin: 0.5rem;
  width: 15px;
  height: 15px;
  border-radius: 59%;
}
#single-product .right.color ul li.yellow {
  background-color: yellow;
}
#single-product .right.color ul li.blue {
  background-color: blue;
}
#single-product .right.color ul li.green {
  background-color: green;
}
#single-product .right.color ul li.red {
  background-color: red;
}
#single-product .right.color ul li:nth-child(1) {
  margin-left: 0px !important;
}
#single-product .pull-right {
  position: relative;
}
#single-product .pull-right::before {
  position: absolute;
  content: "";
  top: 0;
  height: 100%;
  left: -15%;
  border: 1px solid #f1f1f1;
}

#single-product .pull-right h1 {
  font: normal normal 600 32px/14px Poppins;
}
#single-product .pull-right h4 {
  font: normal normal 600 20px/14px Poppins;
  margin-top: 1.5rem;
}
#single-product .pull-right p {
  font: normal normal normal 15px/22px Poppins;
  margin-top: 1.5rem;
}

#single-product .download img {
  max-width: 100%;
  width: 20px;
  max-height: 100%;
}
#single-product .download a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 30px;
  height: 30px;
  margin-right: 1rem;
  margin-top: 0.5rem;
  border: 1px solid #5D5D5D;
  border-radius: 50%;
}

#single-product .pull-right .wrap-info {
  margin-top: 1.5rem;
}
#single-product .pull-right .wrap-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#single-product .pull-right .wrap-info ul li {
  padding-top: 0.5rem;
}

/********************CATALOG Chaises********************/
#catalog .widget-area {
  position: sticky;
  overflow-x: hidden;
  border-right: 1px solid #e6e6e6;
}

#catalog .widget-area .accordion-button:focus {
  box-shadow: none !important;
  outline: 0 !important;
}
#catalog .widget-area .accordion-button:not(.collapsed) {
  background-color: transparent !important;
  color: #000000;
}
#catalog .widget-area .accordion-button {
  padding: 0rem !important;
  border-bottom: 1px solid #ccc;
}
#catalog .widget-area .accordion-item {
  border: none !important;
}
#catalog .widget-area .accordion-body {
  padding: 1rem 1.25rem 1rem 0rem !important;
}
#catalog .widget-area .accordion-button::after {
  background-image: url(./images/icon-plus.jpg) !important;
  max-width: 100% !important;
  width: 20px !important;
  max-height: 100% !important;
}
#catalog .widget-area .accordion-button:not(.collapsed)::after {
  background-image: url(./images/icon-small.jpg) !important;
  max-width: 100% !important;
  width: 20px !important;
  max-height: 100% !important;
}

#catalog .widget-one h5,
#catalog .widget-two h5,
#catalog .widget-three h5,
#catalog .widget-four h5,
#catalog .widget-five h5,
#catalog .widget-six h5,
#catalog .widget-seven h5,
#catalog .widget-heigh h5{
  font: normal normal 600 15px/22px Poppins;
  padding: 0.8rem 0;
  margin-bottom: 0;
}
#catalog .widget-one ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#catalog .widget-one ul li {
 display: inline-block;
 margin-top: 0.5rem;
}

#catalog .widget-one ul li a {
  border: 1px solid #000000;
  border-radius: 18px;
}
#catalog .widget-two form {
  position: relative;
}
#catalog .widget-two .form-control {
  position: relative;
  border: 1px solid #C6C6C6;
  border-radius: 19px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
#catalog .widget-two .form-control:focus {
  outline: 0;
  box-shadow: none;
}

#catalog .widget-two form .icon-search {
  position: absolute;
  bottom: 30.7%;
  left: 90%;
  z-index: 999;
  color: #000000;
}
.icon-market-search{
  cursor: pointer;
}
.icon-market{
  cursor: pointer;
}
#catalog .widget-three ul {
  list-style: none;
  padding: 0;
  margin-top: 1.4rem;
}
#catalog .widget-three ul li {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #e5e5e5;
  border-radius: 50%;
}
#catalog .widget-three ul li.black {
  background: #FF000090;
}
#catalog .widget-three ul li.blue {
  background: #00A7FF7B;
}

#catalog .widget-three ul li.yellow {
  background: #F5FF00D3;
}

#catalog .widget-three ul li.white {
  background: #F5FF00D3;
}

#catalog .widget-three ul li.cyan {
  background: #00FF93B1;
}

#catalog .widget-three ul li.orange {
  background: #6C6C6C;
}

#catalog .widget-three ul li.purple {
  background: #FFFFFF;
}

#catalog .widget-three ul li.indigo {
  background: #A700FF;
}

#catalog .widget-three ul li.loom {
  background: #FFB100;
}

#catalog .widget-three ul li.alice {
  background: #694400;
}

#catalog .widget-four .label label {
  font: normal normal normal 12px/22px Poppins;
  color: #C6C6C6;
}

#catalog .widget-four .form-range {
  height: 1px !important;
}

#catalog .widget-four .form-range::-webkit-slider-thumb {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #C6C6C6;
  margin-top: -8px;
}

#catalog .widget-four .form-range::-moz-range-thumb {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #C6C6C6;
}

#catalog .widget-four .form-range::-ms-thumb {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #C6C6C6;
}


input[type=range] {
  -webkit-appearance: none;
  width: 100%;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100% !important;
  height: 1px !important;
  cursor: pointer !important;
}
input[type=range]::-moz-range-track {
  width: 100% !important;
  height: 1px !important;
}
input[type=range]::-moz-range-thumb {
  height: 1px !important;
  width: 100% !important;
}

  /* CSS is missing in your code  */
input[type=range]::-ms-track {
  width: 100% !important;
  height: 1px !important;
}
input[type=range]::-ms-thumb {
  height: 1px;
  width: 100% !important;
}

#catalog .wrap-shop h2 {
  font: normal normal 600 54px/14px Poppins;
  margin-bottom: 2rem;
}
#catalog .wrap-shop .link {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 50px;
  height: 50px;
  border: 1px solid #000000;
  border-radius: 50%;
  margin-bottom: 2rem;
}
#catalog .wrap-shop .back-link {
  font-size: 1.3rem;
}
#catalog .filter-shop-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#catalog .filter-shop-box .form-wrap {
  float: right !important;
}
#catalog .filter-shop-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#catalog .filter-shop-box ul li {
  display: inline-block;
}
#catalog .filter-shop-box ul li a {
  padding: 0.2rem 0.8rem 0.4rem;
  color: #C6C6C6;
  border: 1px solid #C6C6C6;
  border-radius: 18px;
}
#catalog .filter-shop-box .form-select {
  font: normal normal normal 12px/22px Poppins;
  background: #EBEBEB;
  width: 180px;
  min-height: 40px;
  color: rgb(136 , 136, 136);
  border: none;
  border-radius: 18px;
  z-index: 999;
}
#catalog .filter-shop-box .form-select option {
  font: normal normal normal 12px/22px Poppins;
  background: #EBEBEB;
  border: none !;
}
#catalog .filter-shop-box .form-select:focus {
  outline: 0 !important;
  box-shadow: none;
  border: 1px solid #13130d;
}

#catalog .wrap-shop .product-cart-wrap {
  position: relative;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 14px;
  overflow: hidden;
}
#catalog .wrap-shop .product-img-action {
  position: relative;
  background-color: #fff;
  padding: 10px 12px;
  overflow: hidden;
}
#catalog .wrap-shop .product-img-action img {
  border-radius: 14px;
}
#catalog .wrap-shop .product-action {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease 0s;
  z-index: 9;
}
#catalog .wrap-shop .product-action img {
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 44px;
  border-radius: 50px;
  background-color: #ffffff;
  text-align: center;
  border: 1px solid #cce7d0;
}

#catalog .wrap-shop .product-cart-wrap:hover .product-img-action .product-action {
  visibility: visible;
  opacity: 1;
}


#catalog .wrap-shop .product-bagde {
  position: absolute;
  right: 20px;
  top: 19px;
  margin: 0.4rem 0.8rem;
  border-radius: 20px !important;
  z-index: 9;
}
#catalog .wrap-shop .product-bagde span {
  color: #fff;
  background: #000;
  padding: 0.2rem 0.7rem;
  border-radius: 15px;
}
#catalog .wrap-shop .product-content {
  padding: 0 20px 15px 20px;
}
#catalog .wrap-shop .product-content .item-name {
  font: normal normal 600 15px/22px Poppins;
}
#catalog .wrap-shop .product-content .item-para {
  font: normal normal normal 12px/18px Poppins;
  margin-top: 0.5rem;
  color: #C6C6C6;
}
#catalog .wrap-shop .product-content .items-more .color ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#catalog .wrap-shop .product-content .items-more .color ul li {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 50%;
  margin-right: 0.7rem;
}
#catalog .wrap-shop .product-content .items-more .color ul li.yellow {
  background: #FAC752;
}
#catalog .wrap-shop .product-content .items-more .color ul li.blue {
  background: #6594FF;
}
#catalog .wrap-shop .product-content .items-more .color ul li.cyan {
  background: #8EE2E5;
}
#catalog .wrap-shop .product-content .items-more .price {
  font: normal normal 600 15px/22px Poppins;
  color: #000000;
}
.link-round{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  background: transparent !important;
  width: 50px !important;
  height: 50px !important;
  border: 1px solid #000000 !important;
  border-radius: 50% !important;
  margin-right: 1rem !important;
}












/*********************************
        footer
*********************************/
#footer {
  background: #EFEFEF;
}
#footer .title {
  margin-top: 2rem;
}
#footer .title h2 {
  font: normal normal 600 32px/42px Poppins;
  letter-spacing: 0px;
  color: #000000;
}
#footer .btn-about {
  border: 1px solid #989898;
  border-radius: 19px;
}
#footer .form-control {
  background: #e5e5e5;
  border: none;
  border-radius: 0px;
  height: 50px;
}
#footer .input-group-text {
  border: none;
  border-radius: 0px;
  background: #00B2FF;
  font: normal normal 600 15px/14px Poppins;
  color: #ffffff;
}

#footer .halls,
#footer .terms, 
#footer .social {
  list-style: none;
  padding: 0;
}

#footer .halls li a {
  font: normal normal 600 15px/30px Poppins;
  letter-spacing: 0px;
  color: #000000;
}
#footer .infos {
  border: 1px solid #707070;
  border-radius: 16px;
}
#footer .infos h4 {
  font: normal normal 600 15px/30px Poppins;
}
#footer .infos h3 {
  font: normal normal normal 16px/16px Poppins;
}
#footer .infos .address, 
#footer .infos .phone, 
#footer .infos .ref {
  padding: 1.5rem 2rem 0rem;
}

#footer .halls li,
#footer .terms li {
  margin-bottom: 0.5rem;
}
#footer .terms li a {
  font: normal normal normal 15px/30px Poppins;
  color: #989898;
}
#footer .terms h5 {
  font: normal normal 600 15px/30px Poppins;
  margin-top: 3rem !important;
}
#footer .social li {
  display: inline-block;
  margin: 1rem;
}
#footer .social li:nth-child(1) {
  margin-left: 0px !important;
}
#footer .social li a .icon {
  color: #000000;
  font-size: 1.2rem;
} 
#footer .toggle-top {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: #C6C6C6;
  float: inline-end;
}
#footer .toggle-top img {
  max-width: 100%;
  width: 20px;
  max-height: 100%;
}







/**
 * 4.0 Media Queries
 * ----------------------------------------------------------------------------
 */

/* WordPress Media Queries */
@media (max-width: 600.98px) {
  header .navbar .navbar-nav .icon-market-search img {
    margin-left: 0px !important;
  }
  #banner .carousel-inner span {
    padding: 1rem 2rem;
  }
  #banner .carousel-inner h1 {
    font: normal normal 600 20px/14px Poppins;
    padding: 3rem 2rem;
    line-height: 1;
  }
  #banner .carousel-inner .btn-slide {
    font: normal normal 600 10px/18px Poppins;
    margin: -2rem 2rem;
  }
  #features .feature-content h3 {
    font: normal normal 600 30px/14px Poppins;
    line-height: 1;
  }
  #features .feature-single {
    margin-bottom: 2rem;
  }
  #features .feature-content .btn-more {
    margin-top: 6rem;
  }
  
  #feature-inner .feature-content span {
    margin-top: -2rem;
  }
  #feature-inner .feature-content h3 {
    font: normal normal 600 30px/14px Poppins;
    line-height: 1;
    margin-top: -2rem;
  }
  #feature-inner .feature-content .btn-more {
    margin-top: 0rem;
    font: normal normal 600 10px/10px Poppins;
  }
  #features-two .feature-content h3 {
    font: normal normal 600 30px/14px Poppins;
    line-height: 1;
  }
  #features-two .feature-content .btn-more {
    margin-top: 6rem;
  }
  #features-two .feature-img-agenda {
    margin-bottom: 2rem !important;
  }
  #footer {
    text-align: left !important;
  }
  #footer .input-group {
    margin-top: 2rem;
  }
  #footer .infos {
    display: none;
  }
  #footer .terms {
    margin-top: 3rem;
  }
  #single-product .pull-right::before {
    display: none;
  }
  .pos-static-mb{
    position: initial !important;
  }
  .filter-shop-box ul{
    display: none !important;
  }
}
.position-fixed-one{
  position: fixed;
}
.btn-more-agenda{
  margin-top: 11rem;
}
.wrap-shop div div title{
  width: calc(30vw - 10%);
}
@media (min-width: 601px) and (max-width: 782.98px) {
  header .navbar .navbar-nav .icon-market-search img {
    margin-left: 0px !important;
  }
  #banner .carousel-inner span {
    padding: 1rem 2rem;
  }
  #banner .carousel-inner h1 {
    font: normal normal 600 30px/14px Poppins;
    padding: 3rem 2rem;
    line-height: 1;
  }
  #features .feature-single {
    margin-bottom: 2rem;
  }
  #features .feature-content .btn-more {
    margin-top: 6rem;
  }
  #feature-inner .feature-content h3 {
    font: normal normal 600 30px/14px Poppins;
    line-height: 1;
    margin-top: -2rem;
  }
  #feature-inner .feature-content .btn-more {
    margin-top: 3rem;
  }
  #features-two .feature-content h3 {
    font: normal normal 600 30px/14px Poppins;
    line-height: 1;
  }
  #features-two .feature-img-agenda {
    margin-bottom: 2rem !important;
  }
  #single-product .pull-right::before {
    display: none;
  }
  .btn-more-agenda{
    margin-top: 6rem;
  }
  .pos-static-mb{
    position: initial !important;
  }
}
@media (min-width: 783px) {
  
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}
@media (min-width: 360px) and (max-width: 978.98px) {
  #banner .carousel-inner .btn-slide {
    font: normal normal 600 10px/18px Poppins;
    margin: -3rem 2rem;
  }
  #features-two .feature-content .btn-more {
    margin-top: 4rem;
  }
  .btn-more-agenda{
    margin-top: 6rem;
  }
  #footer {
    text-align: left !important;
  }
  .offset-1 {
    margin-top: 2rem;
    margin-left: 0% !important;
  }
  #footer .input-group {
    margin-top: 2rem;
  }
  #footer .infos {
    display: none;
  }
  #footer .terms {
    margin-top: 3rem;
  }
  #catalog .catalog-single {
    margin-bottom: 3rem;
  }
  #catalog h3{
    font: normal normal 600 30px/14px Poppins;
  }
  #single-product .pull-right::before {
    display: none;
  }
  .pos-static-mb{
    position: initial !important;
  }
}
.wrap-shop div div .title{
  width: 300px;
} 
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  #banner .carousel-inner .btn-slide {
    font: normal normal 600 10px/18px Poppins;
    margin: -2rem 2rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  header .navbar .navbar-nav .icon-market-search img {
    margin-left: 0px !important;
  }
  #banner .carousel-inner span {
    padding: 2rem 2rem;
  }
  #banner .carousel-inner h1 {
    font: normal normal 600 30px/14px Poppins;
    padding: 4rem 2rem;
    line-height: 1;
  }
  #banner .carousel-inner .btn-slide {
    font: normal normal 600 10px/18px Poppins;
    margin: -4rem 2rem 0rem;
  }
  #features .feature-single {
    margin-bottom: 2rem;
  }
  #features-two .feature-img-agenda {
    margin-bottom: 2rem !important;
  }
  #features .feature-content .btn-more {
    margin-top: 22rem;
  }
  #feature-inner .feature-content h3 {
    font: normal normal 600 30px/14px Poppins;
    line-height: 1;
    margin-top: -2rem;
  }
  #feature-inner .feature-content .btn-more {
    margin-top: 7rem;
  }
  .offset-1 {
    margin-top: 2rem;
    margin-left: 0% !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  #features .feature-content .btn-more {
    margin-top: 15rem;
  }
  #feature-inner .feature-content .btn-more {
    margin-top: 10rem; 
  }
  #features-two .feature-content .btn-more {
    margin-top: 6rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  #features .feature-content .btn-more {
    margin-top: 20rem;
  }
  #feature-inner .feature-content .btn-more {
    margin-top: 14rem; 
  }
}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
}
